

<div class="container-fluid mt-4">
  <div class="row"> 
      <!-- About Section -->
      <div class="column about mx-auto text-center">
          <h2>About me</h2>
          <img src="../../assets/Abinaya_whiteoutline.png" alt="profile picture" width="256" height="256" class="rounded-circle">
          <p>Electronics and communication engineering aspirant student with the ability to utilize inspiring leadership, technology, personal drive, creative vision, and analytical skills to yield successful delivery of both team and individual growth. Curious to learn and try new things. Active learner.</p>
      </div> 
  </div>
</div>


   






